scratch.txt

venv
**/__pycache__/
**.pyc

*.db
/backend/server/images/
!/backend/server/images/.keep
!/backend/server/images/bedroom1.jpg
!/backend/server/images/bedroom2.jpg
!/backend/server/images/doghouse1.jpg
!/backend/server/images/doghouse2.jpg
!/backend/server/images/garage1.jpg
!/backend/server/images/garage2.jpg

.DS_Store
.env